//#orgs.dx-treelist-rowsview td {
//    vertical-align: middle;
//}
//#settings_div{
//    background: blanchedalmond;
//    float:left;
//}
.clr{
    clear: both
}
#org_grid {
    min-height: calc(70vh - 10px) ;
    max-height: calc(70vh - 10px);
    vertical-align: middle;
 }