#btn_grid {
   min-height: calc(70vh - 75px);
    width: 100%;
    vertical-align: middle;
 }
 #btn_div { 
   box-sizing: border-box;
   padding: 10px;
   vertical-align: middle;
 }
 #btn_id{
   float:right; 
   bottom: 0%;
   right: 0px;
   margin: 25px 0px 5px 5px;
}
#tbar{
  margin:5px 0px 5px 0px ;}