
.authpage{
    background: #2E2E38 url("../../assets/images/light.png") no-repeat 50% -90px;
    display:flex;
    width: 100vw;
    height: calc(100vh - 90px);
    align-items: flex-start;
    justify-content: center;

}
