.tbar{
    background-color: rgba(0, 50, 50, 0.0);
    width: 150;
    position: absolute;    
    right: 15px;
    bottom: 15px; 
    //width:300px !important;
    //line-height: 1px;
}
.btns{
    text-align: center;
    margin: 5px;
}