#treeview {
    height: 400px;
  }
  
  .options {
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 260px;
    top: 0;
    background-color: #f5f5f5;
  }
  
  .caption {
    font-size: 18px;
    font-weight: 500;
  }
  
  .option {
    margin-top: 10px;
  }
  
  .option > .dx-selectbox {
    display: inline-block;
    vertical-align: middle;
    max-width: 350px;
    width: 100%;
    margin-top: 5px;
  }
  .buttons {
    width: 150px;
    height: 50px;
    text-align: center; 
    }
    .dx-toolbar {
        background-color: rgba(191, 191, 191, .15);
        padding: 5px 10px;
    }
  .raz div {
    max-width: 100%;
    min-height: 2em;
    margin: 0 0 0 auto; 
  }
  .sidebar{
    background-color: #ddd;
    float: left;
    width: 400px;
  .contentMain{
    background-color: red($color: #000000);
    margin-left: 420px; /* 150px (ширина сайдбара) + 10px + 10px (2 отступа) */
    }

    #dataGrid {
      margin: 20px 0;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border-top: 1px solid lightgray;
      border-bottom: 1px solid lightgray;
    }
    
    #dataGrid > p {
      padding: 10px 20px;
      margin: 0;
    }
}