<div style="padding: 10px;">
  <div id="dataGrid">
    <DxDataGrid :data-source="models" :remote-operations="false" :allow-column-reordering="true"
                :row-alternation-enabled="true" :allow-column-resizing="true" :focused-row-enabled="true"
                :show-borders="true"
                keyExpr="id" @toolbar-preparing="onToolbarPreparing($event)" @focused-row-changed="onFocusedRowChanged">
      <DxFilterRow :visible="true" apply-filter="{key: 'auto',name: 'Immediately'}"/>
      <DxSearchPanel :visible="true" :width="240" placeholder="Поиск..."/>

      <DxColumn type="buttons" :buttons="editButtons" :width="65">
      </DxColumn>
      <DxColumn data-field="id" caption="ID" :width="65"/>
      <DxColumn data-field="displayName" caption="Имя на экране"/>
      <DxColumn data-field="sysName" caption="Системное имя"/>
      <DxColumn data-field="toolTip" caption="Подсказка"/>
      <DxColumn data-field="width" caption="Ширина"/>
      <DxColumn data-field="height" caption="Высота"/>
      <DxColumn data-field="order" caption="Позиция"/>
      <DxColumn data-field="iconName" caption="Имя картинки"/>
      <DxColumn data-field="isDeleted" caption="Удален" :width="100"/>
    </DxDataGrid>
  </div>

  <DxPopup width='800' height='800' :show-title="true" :title.sync="captionEditFormModel" :drag-enabled="false"
           :close-on-outside-click="true" :visible.sync="isVisibleEditFormModel">
    <div class="popup-property-details" style="height: 100%; display: flex;flex-direction: column;">
      <div style="height: 90%;">
        <DxScrollView id="scrollview" ref="scrollViewWidget" :scroll-by-content="scrollByContent"
                      :scroll-by-thumb="scrollByThumb" :show-scrollbar="showScrollbar">
          <DxForm ref="buttonEditorModel" colCount=1 :form-data="buttonModelData" :read-only="false"
                  :show-validation-summary="true" validation-group="ButtonModelEditor" :show-colon-after-label="true">
            <DxGroupItem colCount=2>

              <DxGroupItem caption="Представление">
                <DxSimpleItem data-field="displayName">
                  <DxLabel text="Имя на экране"/>
                </DxSimpleItem>
                <DxSimpleItem data-field="toolTip">
                  <DxLabel text="Подсказка"/>
                </DxSimpleItem>
                <DxSimpleItem data-field="width" editorType="dxNumberBox">
                  <DxRequiredRule message="Поле обязательно для заполнения"/>
                  <DxLabel text="Ширина"/>
                </DxSimpleItem>
                <DxSimpleItem data-field="height" editorType="dxNumberBox">
                  <DxRequiredRule message="Поле обязательно для заполнения"/>
                  <DxLabel text="Высота"/>
                </DxSimpleItem>
                <DxSimpleItem data-field="iconName">
                  <DxLabel text="Имя картинки"/>
                </DxSimpleItem>
                <DxSimpleItem data-field="typeBtn" editorType="dxSelectBox" :editorOptions="typeBtnOptions">
                  <DxRequiredRule message="Поле обязательно для заполнения"/>
                  <DxLabel text="Тип кнопки"/>
                </DxSimpleItem>
                <DxSimpleItem data-field="stylingMode" editorType="dxSelectBox" :editorOptions="typeStyleModeOptions">
                  <DxRequiredRule message="Поле обязательно для заполнения"/>
                  <DxLabel text="Тип контейнера"/>
                </DxSimpleItem>
                <DxSimpleItem data-field="location" editorType="dxSelectBox" :editorOptions="typeLocationOptions">
                  <DxRequiredRule message="Поле обязательно для заполнения"/>
                  <DxLabel text="Позиция кнопки"/>
                </DxSimpleItem>
                <DxSimpleItem data-field="captionDialogFormModel">
                  <DxLabel text="Наименование диалогового окна"/>
                </DxSimpleItem>
              </DxGroupItem>
              <DxGroupItem caption="Системные свойства">
                <DxSimpleItem data-field="sysName">
                  <DxRequiredRule message="Поле обязательно для заполнения"/>
                  <DxLabel text="Системное имя"/>
                </DxSimpleItem>
                <DxSimpleItem data-field="order" editorType="dxNumberBox">
                  <DxRequiredRule message="Поле обязательно для заполнения"/>
                  <DxLabel text="Позиция"/>
                </DxSimpleItem>
                <DxSimpleItem data-field="isDeleted" editor-type="dxCheckBox">
                  <DxLabel text="Удален"/>
                </DxSimpleItem>
                <DxSimpleItem data-field="isDetail" editor-type="dxCheckBox">
                  <DxLabel text="Только для редактирования"/>
                </DxSimpleItem>

                <DxSimpleItem data-field="DialogFormModelId" editorType="dxSelectBox"
                              :editorOptions="fieldModelByDialogOptions">
                  <DxLabel text="Компонент для диалоговой формы"/>
                </DxSimpleItem>
                <DxSimpleItem data-field="validationGroup">
                  <DxLabel text="Контейнер проверки"/>
                </DxSimpleItem>
                <DxSimpleItem data-field="typeActionBtn" editorType="dxSelectBox" :editorOptions="typeActionBtnOptions">
                  <DxLabel text="Тип действия кнопки"/>
                </DxSimpleItem>

              </DxGroupItem>
              <DxSimpleItem data-field="sqlData">
                <DxLabel text="Условие выбора данных"/>
              </DxSimpleItem>
              <DxSimpleItem data-field="message">
                <DxLabel text="Сообщение перед началом действия"/>
              </DxSimpleItem>
            </DxGroupItem>


            <!--<DxEmptyItem />-->
          </DxForm>
        </DxScrollView>
      </div>
      <div style="display:flex;flex-direction: row ;justify-content: flex-end;align-items: center;height: 10%;">
        <DxButton style="margin-right: 10px;" icon="save" type="success" text="Сохранить" v-on:click="saveModel"
                  validation-group="ButtonModelEditor" horizontal-alignment="right"/>
        <DxButton icon="close" type="normal" text="Выход" horizontal-alignment="right" @click="closeFormEditor()"/>
      </div>
    </div>
  </DxPopup>

  <DxLoadPanel :visible.sync="loadingVisible" :show-indicator="true" :show-pane="true" :shading="true"
               :close-on-outside-click="false" shading-color="rgba(0,0,0,0.4)"/>
</div>
