

<div id="forms_div"  >
    <span >Выбор форм.</span>
    <DxToolbar id="tbar"  >
      <DxItem :options="acceptOptions" :visible = "true" location="before" widget="dxButton"  :disabled.sync="acceptDisabled"/>
    </DxToolbar>

  <DxTreeList  
  id="forms_grid" ref="treeForms"
  :show-borders="true"
              :visible= "isShow"
              :data-source="forms"
              :column-max-width="300"
              :column-min-width="100"
              :show-row-lines="false"
              key-expr="id"        
              :loadPanel="loadPanel"      
              :height = "height"
              parent-id-expr="parentId"
              data-structure="plain"
              :allow-column-resizing="true"
              :allow-select-all = "true"
              column-resizing-mode="widget"
              :column-auto-width="true"
              :focused-row-enabled="true">
    <DxSearchPanel :visible="false" :width="250" />
    <DxHeaderFilter :visible="false" />
    <DxSelection mode="single" />
    <DxColumnChooser :enabled="false" />
    <DxEditing :allow-updating="true" mode="cell" />
    <DxColumn data-field="text" caption="Наименование режима" :allow-editing="false" />
    <DxColumn data-field="typeAccess"  caption="Доступ" >
      <DxLookup
        :data-source="access"
        value-expr="id"
        display-expr="value"
      />
    </DxColumn>
  </DxTreeList>
 
</div>
